.header
  &__container
    display flex
    align-items center
    position relative
  &__link-tel
    position relative
    display block
    width 155px
    height 22px
    margin-left auto
    margin-right 1.8rem
    font-weight 600
    fontSize18()
    @media (max-width point-m)
      display none
    &::before
      content ''
      position absolute
  &__button
    position relative
    width 176px
    fontSize13()
    &--login
      padding-left 2.5rem
      &::before
        content ''
        position absolute
      @media (max-width point-m)
        margin-right 2.6rem
        margin-left auto
      @media (max-width point-s)
        display none
    &--letter
      @media (max-width point-m)
        display none
