.form-input
  display block
  position relative
  &__field
    width 100%
    padding 1rem
    fontSize14()
    font-family 'Montserrat', 'Helvetica-Neue', 'Arial', sans-serif
    border 1px solid var(--input-border)
  &__label
    display block
    padding-bottom 0.5rem
    fontSize12()
    font-weight 500
  // Стилизация checkbox
  &--checkbox
    display flex
    align-items center
    & > .form-input__label
      padding-bottom 0
      padding-left 2.5rem
      fontSize14()
      order 2
  &__mark
    display inline-block
    position absolute
    width 1.5rem
    height 1.5rem
    border 1px solid var(--input-border)
    background-color var(--color-bg)

// Стилизация checkbox
.form-input__field[type=checkbox]:checked + .form-input__mark
  &::before
    content ''
    align-center()
    width 16px
    height 12px
    mask-image var(--icon-checkbox)
    mask-repeat no-repeat
    mask-size contain
    background-color var(--color-black)

// Стилизация select
.form-input__field--select
  appearance none
  background-image var(--icon-arrow)
  background-repeat no-repeat
  background-size 12px 12px
  background-position center right 0.875rem

// Стилизация range
.delivery__range
  margin-top -17px
  height 1px
  background-color var(--color-blue-light)
  border none
  box-shadow none
  border-radius 0

// Ползунок
.noUi-horizontal .noUi-handle
  width 1rem
  height 1rem
  background-color var(--color-blue-light)
  border-radius 50%
  border none
  box-shadow none
  &::before
  &::after
    display none

.noUi-handle.noUi-handle-lower
  right -9px

.noUi-handle.noUi-handle-upper
  display none

// Трэк м/у ползунками
.noUi-connect
  background-color: rgba(white, 80%)
