
@import 'includes/mixins'
@import 'includes/fonts'
@import 'includes/variables.rest'
@import '../blocks/a/a.rest'
@import '../blocks/button/button.rest'
@import '../blocks/form-input/form-input.rest'
@import '../blocks/header/header.rest'
@import '../blocks/burger/burger.rest'
@import '../blocks/nav/nav.rest'
@import '../blocks/order/order.rest'
@import '../blocks/delivery/delivery'
@import '../blocks/work/work'
@import '../blocks/benefits/benefits'
@import '../blocks/certificates/certificates'
@import '../blocks/partners/partners'
@import '../blocks/reviews/reviews'
@import '../blocks/questions/questions'
@import '../blocks/footer/footer'
