.button
  display block
  width 100%
  padding 1.08rem 0
  font-weight 600
  fontSize14()

// Swiper Navigation
.swiper-button-prev
.swiper-button-next
  width 56px
  height 56px
  border 1px solid var(--input-border)
