.order
  &__subtitle span
    color var(--color-blue-light)
    font-weight 700
  &__form
    padding-top 1.875rem
  &__container.grid
    column-gap 1.1rem
    row-gap 2rem
    @media(min-width point-l)
      width 94%
    @media(max-width point-s)
      row-gap 1rem
