head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='preload' href='fonts/Montserrat-Regular.woff2' as='font' type='font/woff2' crossorigin='anonymous')
  +style('core')
  script(src="https://api-maps.yandex.ru/2.1/?apikey=6448026c-f396-413c-933e-5f1bb82ce8e6&lang=ru_RU", type="text/javascript")

  block head
  title= pageTitle || ''
  meta(name='description' content=pageDescription || '')
