a
  font-weight 600
  fontSize13()
  text-decoration none
  color inherit
  transition background-color var(--transition-duration-out)
  &:hover
    transition-duration var(--transition-duration-in)
    @media (min-width point-l)
      color var(--color-blue-dark)
