.nav
  &__list
    display flex
    flex-wrap wrap
    column-gap 2.5rem
  &__link
    display block
    padding 1.3rem 0
    font-weight 600
    fontSize15()
    &--sublist
      position relative
      padding-right 1.5rem
      &::after
        content ''
        position absolute
    &--burger
      @media(min-width point-s)
        display none

@media(max-width point-m - 1)
  .nav
    position absolute
    display flex
    flex-direction column
    &__list
      flex-direction column
    &__link
      padding 1rem 0 1rem 1rem
