.delivery
  @media(min-width point-l)
    & .grid
      column-gap 4.4rem
  &__form
    padding-top 2.1rem
  &__list
    display flex
    flex-direction column
    row-gap 1rem
    @media(min-width point-l)
      &.grid__cell
        width 36%
  &__sum
    padding 2.5rem
    background-color var(--color-white)
    box-shadow var(--shadow)
    @media(min-width point-l)
      &.grid__cell
        width 57%
  &__title
    padding-bottom 1rem
    fontSize24()
    font-weight 500
  &__par
    display flex
    justify-content space-between
    padding-top 1rem
    padding-bottom 0.625rem
    border-top 1px solid var(--table-border)
    &:nth-of-type(2)
      padding-bottom 1rem
  &__text
    display block
    padding-bottom 1rem
    fontSize12()
    color var(--color-grey)
    @media(min-width point-s)
      width 63%
  &__benefit
    fontSize18()
    font-weight 600
  &__button
    margin-top 1rem
    @media(min-width point-s)
      width 50%
  // Стилизация range
  &__range
    height 1px
    margin-top -1px
    background-color var(--color-blue-light)
    box-shadow none
    border-radius 0
    border none
    // Ползунок
    & .noUi-handle
      width 1rem
      height 1rem
      background-color var(--color-blue-light)
      box-shadow none
      border-radius 50%
      border none
      &::before
      &::after
        display none
    & .noUi-handle.noUi-handle-upper
      display none
    & .noUi-handle.noUi-handle-lower
      right -9px
    // Трэк м/у ползунками
    & .noUi-connect
      background-color: rgba(white, 80%)
