:root
  --base-padding 1rem
  --gap calc(var(--base-padding) * 2)
  --content-width calc(70rem + var(--gap))

  --color-blue-light #098FCF
  --color-blue-dark #043C77
  --color-white #ffffff
  --color-black #000000
  --color-grey #565656
  --color-bg #F9F9F9

  --table-border #E7E7E7
  --input-border #d4d4d4

  --shadow 0px 4px 30px rgba(0, 0, 0, 0.1)

  --icon-tel url(../images/svg-sprites/common.svg#tel)
  --icon-login url(../images/svg-sprites/common.svg#login)

  --icon-checkbox url(../images/svg-sprites/common.svg#checkbox)

  --icon-request url(../images/svg-sprites/common.svg#request)
  --icon-confirm url(../images/svg-sprites/common.svg#confirm)
  --icon-refueling url(../images/svg-sprites/common.svg#refueling)

  --icon-quality url(../images/svg-sprites/common.svg#quality)
  --icon-comfort url(../images/svg-sprites/common.svg#comfort)
  --icon-time url(../images/svg-sprites/common.svg#time)
  --icon-security url(../images/svg-sprites/common.svg#security)
  --icon-price url(../images/svg-sprites/common.svg#price)
  --icon-way url(../images/svg-sprites/common.svg#way)

  --icon-arrow url(../images/svg-sprites/common.svg#arrow)
  --icon-arrow-link url(../images/svg-sprites/common.svg#arrow-link)
  --icon-arrow-btn url(../images/svg-sprites/common.svg#arrow-btn)

  --icon-lukoil url(../images/svg-sprites/common.svg#lukoil)
  --icon-gazprom url(../images/svg-sprites/common.svg#gazprom)
  --icon-rosneft url(../images/svg-sprites/common.svg#rosneft)
  --icon-tatneft url(../images/svg-sprites/common.svg#tatneft)

  --transition-duration-in 0.1s
  --transition-duration-out 0.4s
