.footer-menu
  &__logo
    padding-bottom 0.5rem
    transform translateY(-0.625rem)
  &__logo-text
    color var(--color-grey)
    fontSize13()
  &__link
    font-weight 700
    color var(--color-grey)
  &__sales
    padding-bottom 0.5rem
    font-weight 700
    fontSize14()
    text-align right
    @media(max-width point-s)
      text-align center
  &__link-tel
    display block
    font-weight 700
    color var(--color-blue-light)
    fontSize18()
    text-align right
    @media(max-width point-s)
      text-align center

.footer-bottom
  &__link
    display block
    margin-top 4rem
